.row > div {
  height: 100px;
}

.row > .grande {
  height: 200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}
